/.gradle
/.idea
/build

/run/saves/
/run/resourcepacks/
/run/logs/
/run/.fabric/
/run/.mixin.out/
/run/crash-reports/
/run/data/
/run/defaultconfigs/
/run/localconfigs/
/run/schematics/
/run/screenshots/
